@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="@Url.Content("~/Content/img/restaurant-app.jpg")" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>It's fun</h2>
        <p>
            With Pay & Go, you will be able to order your meal with your mobile phone in any restaurant. 
            And pay the check as well.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>It's popular</h2>
        <p>Over 1500 restaurants using Pay & Go.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>It's safe.</h2>
        <p>Sit back and relax. We don't keep your card details. Pay & Go is completely safe!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>